/* #region Global styles*/
html, body {
    margin:0;
    padding:0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-color: hsl(180, 52%, 96%);

    /* - Light Grayish Cyan (Background): hsl(180, 52%, 96%)
    - Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
    
    - Very Dark Grayish Cyan: hsl(180, 14%, 20%) */

    --header-bg:#5da5a4;
}
.cyan {
    color: hsl(180, 29%, 50%);
}
.grey {
    color: grey;
}
h2 {
    margin-top: auto;
    padding-top: 12px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 17px;
    }
/* #endregion */
/* #region Header*/
header {
    background-color: var(--header-bg);
}
.hero-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 156px;
    }
#hero {
    max-width: 100%;
    height: 156px;
    }
/* #endregion */
/* #region Filters*/
.container-fluid {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    margin-top: -30px;
   }
   
.row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
    }
.select2-container--default .select2-selection--multiple {
    border: none;
    min-height: 60px;
    }
input.select2-search__field {
    display: none;
    }
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 11px;
    margin-bottom: auto;
    border: none;
    height: 38px;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 14px;
    color: hsl(180, 29%, 50%);
    margin-left: 15px;
    }
.select2-selection__clear {
    visibility: hidden;
}
.select2-selection__clear::after {
    content: "Clear";
    visibility: visible;
    color: hsl(180, 29%, 50%);
    font-weight: normal;
    display: flex;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 13px;
    text-decoration: underline;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
    }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-weight: normal;
    background: hsl(180, 29%, 50%);
    position: absolute;
    padding: 0px 5px;
    color: white;
    font-size: 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    top: -10px;
    height: 38px;
    left: 7px;
    padding-top: 1px;
    position: relative;
    float: right;
    }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: #333;
    color: white;
}
.select2-container .select2-selection--multiple {
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    min-height:60px;
    user-select:none;
    -webkit-user-select:none;
    -webkit-box-shadow: 0px 11px 19px 0px rgba(102,153,153,0.29);
    box-shadow: 0px 11px 19px 0px rgba(102, 153, 153, 0.34);
   }
/* #endregion */
/* #region Jobs*/
.jobs-container {
    width: 100%;
    display: flex;
}
hr {
    display: none;
}
.hover-to-highlight{
    background-color: hsl(180, 29%, 50%);
    height: 100%;
    width: 10px;
    height: 155px;
    width: 5px;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}
.job-card {
    -webkit-box-shadow: 0px 11px 19px 0px rgba(102,153,153,0.29);
    box-shadow: 0px 11px 19px 0px rgba(102, 153, 153, 0.34);
    width: 1120px;
    height: 155px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3fr 5fr 11fr;
    margin-bottom: 20px;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
}
.job-card:hover .hover-to-highlight{
    display: block;
}
.company-logo {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    }
.company-name {
    padding-top: 35px;
    grid-column: 1 / span 3;
    }   
.job-details {
    display: grid;
    grid-template: 50px 50px 50px / 100px 200px 100px;
}
.job-highlights {
    display: flex;
    grid-column: 2 / span 2;
    padding-top: 15px;
}
.job-title {
    grid-column: 1 / span 3;
    color: black;
    cursor: pointer;
    }
.job-title:hover {
    color: hsl(180, 29%, 50%);
    }
.job-info {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 85px 130px 100px;
    font-size: 14px;
    }
.company {
        display: inline;
}
.new {
    display: inline;
    margin-left: 20px;
    color: white;
    background-color: hsl(180, 29%, 50%);
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 11px;
    cursor: pointer;
}
.featured {
    display: inline;
    margin-left: 20px;
    margin-left: 5px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 11px;
    cursor: pointer;
}
.tags {
    display: flex;
    justify-content: end;
    align-items: center;
    right: 30px;
    position: relative;
    }
li:nth-child(1) {
    list-style-type: none; 
    }
li span {
    position: relative;
    left: 20px;
    }
.role {
    display: inline;
    color: hsl(180, 29%, 50%);
    background-color: #ecf8f6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.role:hover {
    color: white;
    background-color: hsl(180, 29%, 50%);;
}
.level {
    display: inline;
    color: hsl(180, 29%, 50%);
    background-color: #ecf8f6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.level:hover {
    color: white;
    background-color: hsl(180, 29%, 50%);;
}
.languages {
    display: inline;
    color: hsl(180, 29%, 50%);
    background-color: #ecf8f6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.languages:hover {
    color: white;
    background-color: hsl(180, 29%, 50%);
}
.tools {
    display: inline;
    color: hsl(180, 29%, 50%);
    background-color: #ecf8f6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.tools:hover {
    color: white;
    background-color: hsl(180, 29%, 50%);
}
.tag {
    font-size: 13px;
    }
/* #endregion */
/* #region Max width 1180 px*/
@media (max-width: 1180px) {
.row {  
    min-width: 330px;
    }
.job-card {
    width: calc(100% - 60px);
    margin-left: 30px;
    grid-template-columns: 1fr;
    margin-top: 60px;
    grid-template-rows: 0px 150px 1fr;
    height: auto;
    }
.company-logo {
    text-align: left;
    grid-column: 1 / span 2;
    }
.company-name {
    padding-top: 40px;
}
.job-details {
    grid-column: 1 / span 2;
    left: 20px;
    position: relative;
    grid-template: 1fr / 1fr 1fr 1fr;
    max-width: 90%;
        }
.tags {
    justify-content: left;
    left: 20px;
    padding-top: 20px;
    width: 90%;
    top: -30px;
    align-items: unset;
    line-height: 3.5;
    }
.job-title {
    top: -25px;
    position: relative;
}
.job-info {
    padding-top: 0px;
    top: -20px;
    position: relative;
    grid-template-columns: 75px 120px 100px;
    }
hr {
    display: block;
    color: black;
    width: 85%;
    grid-column: 1 / span 2;
    border-top: 1px solid lightgrey;
    top: -15px;
    position: relative;
}
#logo {
    height: 60px;
    position: relative;
    top: -26px;
    left: 20px;
    }
#jobs-container {
    margin-top: 40px;
    }
.select2-selection__clear::after {
    display: none;
    }
.hover-to-highlight {
    height: 300px;
}
}
/* #endregion */